<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<title>Chat Your Face Off!</title>
 <link rel="stylesheet" href="styles/main.css">
 <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
</head>
                      <!-- Chat Room-->
<body>
     <header>
        <h1>Welcome to
          <p>Chatterbox</p>
        </h1>
     </header>
       <div class="main-content">
          <form class="login-form">
            <div class="login-create">Create your chat username!</div>
            <input class="user-name" minlength="1" autofocus>
            <button class="login-btn" type="submit">Submit Username</button>
          </form>


        <div class="chat-room-container">
            <ul class="chatter"></ul>
        </div>

        <div class="page-bottom-container">
          <p>"User-name" "Is Chatting</p>
           <form class="display">
            <input class="chat-text">
            <button class="send-text" type="submit">Send My Message</button>
          </form>
        </div>
       </div>

       <footer><h3>&copy a Jasben McLenderniss project</h3></footer>


         <!-- potentially need to alter this script dependent on js -->

       <script type="text/template" data-template-name="chat">
        <ul class="">
          <li><%= name %></li>
          <li class="chat-data">
            <span class="message"><%= name %></span>
            <span class="date-time"><%= time %></span>
          </li>
        </ul>
       </script>

                     <!-- Closing Scripts -->

       <script src="bower_components/jquery/dist/jquery.js"></script>
       <script src="bower_components/underscore/underscore.js"></script>
       <script src="scripts/main.js" type="text/javascript"></script>

</body>

</html>
